
.large-icon {
    transform: scale(2); /* Scale the icon size */
    --sds-c-button-icon-border-filled: transparent; /* Icon border for filled variant */
    --sds-c-button-icon-border-inverse: transparent; /* Icon border for inverse variant */
    --sds-c-button-icon-border-brand: transparent; /* Icon border for brand variant */
}

.large-icon lightning-primitive-icon {
    --sds-c-icon-height: var(--lwc-sizeXxLarge, 2rem); /* Adjust the icon height */
    --sds-c-icon-width: var(--lwc-sizeXxLarge, 2rem); /* Adjust the icon width */
    --sds-c-icon-fill-background: transparent; /* Icon background */
    --sds-c-icon-fill-border: transparent; /* Icon border */
}

.chat-toggle-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background: transparent; /* Ensures no background */
    border: none; /* Removes any border */
    box-shadow: none; /* Removes any box shadow */
}


.chatbot-container {
    width: 320px;
    height: 520px;
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
    position: fixed;
    bottom: 40px;
    right: 60px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    background-color: #E74343;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;          
    justify-content: center; 
    position: relative; 
    box-shadow: 0px 3px 6px 0px #00000029;     
}

.chatbot-header h2 {
    margin: 0;
    flex-grow: 1; 
    text-align: center;
}

.minimize-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #E74343;
    /*background-color: transparent; /* Ensures no background color */
    border: none; /* Removes any border */
    outline: none; /* Removes focus outline */
}

.minimize-button lightning-icon {
    --sds-c-icon-color-foreground-default: #E74343; /* Icon color */
    --sds-c-icon-fill-background: transparent; /* Icon background */
    --sds-c-icon-fill-border: transparent; /* Icon border */
}

.custom-icon-color {
    --sds-c-icon-color-foreground-default: #E74343; /* Adjust icon color if necessary */
}

.chatbot-body {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;          
    flex-direction: column;
}

.chatbot-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
    display: none;
}

.chatbot-footer input, .chat-input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
    border: none; /* No border */
    outline: none; /* No focus outline */
}


.chatbot-footer button {
    /* background-color: #fb4c4c; */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    /* border-radius: 4px;  */
}

.message {
    margin: 5px;
    padding: 8px;
    border-radius: 24px;
    max-width: 80%;
    word-break: break-word;
    align-self: flex-start; /* Default alignment */
}

.user-message {
    background-color: #e7f3fe;
    border-bottom-left-radius: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.bot-message {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #f76f6c;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.link-message {
    font-family: sans-serif;
    font-size: 14px;
    background-color: #f76f6c;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    margin-right: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: white;
}

/* .button-style {
    min-width: 80px;    
    margin: 5px;
    padding: 5px 10px;
    background-color: #e7f3fe;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    word-break: break-word;
    font-size: 14px;
    white-space: nowrap;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
} */

.button-style {
    margin: 5px;
    padding: 5px 10px;
    background-color: #e7f3fe; /* Button background color */
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    white-space: normal; /* Allows the text to wrap */
    word-break: break-word; /* Breaks the words at the end of the line */
    overflow: hidden; /* Hide the overflowed text */
    transition: background-color 0.3s;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.button-style:hover {
    background-color: #bcd9f7;
}

.chatbot-footer input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 5px;
    border: white;
}

/* .chatbot-footer button {
    background-color: #fb4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
} */

.loading-indicator {
    text-align: center;
    padding: 10px;
    color: #b9aca5;
}

.send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-icon-color {
    --sds-c-icon-color-foreground-default: #E74343; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto;
    font-size: 17px;
}

.chat-input {
    font-family: sans-serif; 
    font-size: 14px; 
    border: white;
}

.link-icon {
    margin-left: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.testtt{
    margin-bottom: 4px;
}